body{
    background-color:#F5CA5C;



}
input[type=submit] {padding:10px 300px; background:#ccc; border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    border-color:black;
    font-size: 30px;
}
table{
    width:100%;
    
}
td{
  text-align:center;

   
}
img{
    width:150px;
    height:150px;
  

}
h2 {
    
    font-size: 50px;
    font-family: Century;
    color: black;
    width:100%;
    text-align:inherit;
    top: 0px;
}

form{

    margin:auto;
    width:100%;   
    position:center;
  
  
}
label
{
    font-size:20px;
    display:inline-block;
   vertical-align:top;
text-align:left;  
}


p{
   position:absolute;
   top:600px;
   text-align:center;
   width:100%;

}
h1{
    width:100%;
    text-align:center;
}